@import "../../sass/container";
@import "../../sass/base";
@import "../../sass/variables";

.titleDescription {
  margin-bottom: 31px;
}

.cases {
  padding: 56px 0 40px;
}

@media screen and (min-width: 734px) {
  .cases {
    padding: 48px 0 40px;
  }
}

@media screen and (min-width: 1334px) {
  .cases {
    padding: 80px 0;
  }
}
