.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  // outline: 1px solid tomato;
  // @media screen and (min-width: 480px) {
  //   width: 480px;
  // }

  @media screen and (min-width: 734px) {
    width: 734px;
  }

  @media screen and (min-width: 1334px) {
    width: 1334px;
  }
}
