$bg-color-main: #fff;

$accent-color: #28a745;
$accent-color-secondary: #0284d0;

$text-color-main: #333333;
$text-color-secondary: #ffffff;

$animation-color: color 550ms cubic-bezier(0.4, 0, 0.2, 1);
$animation-fill: fill 550ms cubic-bezier(0.4, 0, 0.2, 1);
$animation-bg: background-color 550ms cubic-bezier(0.4, 0, 0.2, 1);
$animation-border: border 550ms cubic-bezier(0.4, 0, 0.2, 1);
