@import "../../sass/container";
@import "../../sass/base";
@import "../../sass/variables";

.heroSection {
  background-color: $text-color-main;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  padding: 160px 0 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroTitle {
  width: 241px;
  color: $text-color-secondary;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.35;
  margin: 0 auto 16px;
}

.heroDescription {
  width: 280px;
  color: $text-color-secondary;
  text-align: center;
  font-size: 26px;
  line-height: 1.23;
  margin: 0 auto 24px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 378px 0;
  }

  .heroTitle {
    width: 523px;
    font-size: 55px;
    line-height: 1.36;
  }
  .heroDescription {
    width: 523px;
    font-size: 40px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1360px) {
  .hero {
    padding: 272px 0 270px;
  }

  .heroDescription {
    width: 798px;
    font-size: 40px;
    line-height: 1.35;
  }
}
