@import "../../sass/variables";
@import "../../sass/base";

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.432);
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  max-width: 280px;
}

.modalImageWrapper {
  position: relative;
  border: solid 3px #fff;
  border-radius: 3px;
  margin-bottom: 5px;
}

.modalBtn {
  position: absolute;

  background-color: transparent;
  width: 70px;
  height: 100%;
  border: none;
  transition: $animation-bg;
}

.modalBtn:hover {
  background-color: rgb(4, 4, 4, 0.1);
}

.modalBtnPrev {
  left: 0;
  top: 0;
}

.modalBtnPrev:hover {
  background-image: url(../../images/gallery/prev.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modalBtnNext {
  right: 0;
  top: 0;
}

.modalBtnNext:hover {
  background-image: url(../../images/gallery/next.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.modalDescriptionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.modalDescription {
  color: $text-color-secondary;
  font-size: 12px;
  margin-bottom: 5px;
}

.modalDescriptionCases {
  color: $text-color-secondary;
  font-size: 10px;
}

.modalBtnClose {
  min-width: 25px;
  min-height: 25px;
  background-color: transparent;
  border: none;
  background-image: url(../../images/gallery/close.png);
  opacity: 0.6;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 100% 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modalBtnClose:hover {
  opacity: 1;
}

@media screen and (min-width: 734px) {
  .modal {
    max-width: 500px;
  }
}
@media screen and (min-width: 1334px) {
  .modal {
    max-width: 630px;
  }
}
