@import "../../sass/container";
@import "../../sass/base";
@import "../../sass/variables";

.aboutSection {
  background-color: $accent-color;

  // background-position: top center;
  // @media (min-device-pixel-ratio: 2),
  //   (-webkit-min-device-pixel-ratio: 2),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //   background-image: url("../../images/about-img-mob@2x.jpg");
  // }
}

.aboutImage img {
  width: 100%;
}

.about {
  padding: 79px 20px;
  max-width: 279px;
}

.titleLabel {
  text-align: left;
  color: $text-color-secondary;
}

.title {
  text-align: left;
  color: $text-color-secondary;
}

.titleDescription {
  text-align: left;
  color: $text-color-secondary;
}

@media screen and (min-width: 734px) {
  .aboutImage {
    // display: none;
  }

  .about {
    padding: 62px 32px;
    max-width: 336px;
  }
  .aboutSection {
    display: flex;
  }
  // .aboutSection {
  //   // background-image: url("../../images/about-img-tab.jpg");
  //   background-image: url("../../images/about-img-desk.jpg");
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-position: left 50%;

  //   @media (min-device-pixel-ratio: 2),
  //     (-webkit-min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //     background-image: url("../../images/about-img-tab@2x.jpg");
  //   }
  // }
}

@media screen and (min-width: 1334px) {
  .about {
    padding: 80px 28px 86px 20px;
  }
  // .aboutSection {
  //   background-image: url("../../images/about-img-desk.jpg");
  //   @media (min-device-pixel-ratio: 2),
  //     (-webkit-min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //     background-image: url("../../images/about-img-desk@2x.jpg");
  //   }
  // }
}
