@import "../../sass/container";
@import "../../sass/base";
@import "../../sass/variables";

.aboutSection {
  background-color: $accent-color;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: center;
}

.aboutInner {
  padding: 79px 0 79px 0;
  width: 280px;
}

.titleLabel {
  text-align: left;
  color: $text-color-secondary;
}

.title {
  text-align: left;
  color: $text-color-secondary;
}

.titleDescription {
  text-align: left;
  color: $text-color-secondary;
}

@media screen and (min-width: 768px) {
  .aboutSection {
    display: flex;
    flex-direction: row;
    background-color: transparent;
  }

  .aboutImageMob {
    display: none;
  }

  .rightBG {
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 100%;
    right: 0;
    background-color: $accent-color;
  }

  .leftBG {
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 100%;
    background-image: url("../../images/about/people.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .leftBGWebp {
      background-image: url("../../images/about/people.webp");
    }
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../images/about/people@2x.jpg");
      .leftBGWebp {
        background-image: url("../../images/about/people@2x.webp");
      }
    }
  }

  .aboutLeftSide {
    width: 50%;
  }

  .aboutInner {
    width: 100%;
    padding: 62px 0 62px 30px;
    width: 336px;
  }
}

@media screen and (min-width: 1360px) {
  .aboutInner {
    padding: 80px 28px 86px 20px;
    width: 642px;
  }
}
