@import "../../sass/variables";
@import "../../sass/base";

.casesItem:not(:last-child) {
  margin-bottom: 8px;
}

.casesImage {
  display: block;
  cursor: pointer;
  transition: opacity 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.casesImage:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .casesList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }

  .casesItem {
    margin-bottom: o;
  }
}

@media screen and (min-width: 1360px) {
  .casesList {
    gap: 20px;
  }
}
