@import "../../sass/container";
@import "../../sass/base";
@import "../../sass/variables";

.titleLabel {
  text-align: left;
  color: $text-color-secondary;
}

.title {
  text-align: left;
  color: $text-color-secondary;
}

.titleDescription {
  text-align: left;
  color: $text-color-secondary;
}
